/******flexbox-code******/

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	line-height: 2em;
	justify-content: space-around;
}

.item-1 {
	line-height: 2em;
}


.item-2 {
	line-height: 2em;
}

header {
	font-size: 3em;
	text-align: center;
	font-weight: bolder;
	background-color: lightblue;
	border: solid 2px blue;
}
